@import "../../utils/constants.scss";
// .download-scroll-page {
//   padding-right: 250px;
// }
.download-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  direction: rtl;
  overflow: hidden;
  .title-download-page-container {
    display: flex;
    align-items: center;
    .title-dark-color {
      font-weight: bold;
      color: $darkColor;
      .dark-border-bottom {
        height: 2px;
        background-color: $darkColor;
        margin-top: 15px;
      }
    }
    .title-green-color {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      color: $primarycolor;
      margin-right: 10px;
      .green-border-bottom {
        height: 2px;
        background-color: $primarycolor;
        margin-top: 15px;
      }
    }
  }
  .show-image-and-description-about-program {
    width: 100%;
    // height: 100%;
    .program-description-and-title-container {
      display: flex;
      flex-direction: column;
      .program-description-title {
        color: $primarycolor;
        font-weight: bold;
        word-spacing: 1px;
      }
      .program-description {
        // font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
      }
    }

    .program-page-container {
      display: flex;
      justify-content: center;
      .program-image {
      }
    }
  }
  .dowmload-page-header {
    height: 478px;
    width: 100%;
    background-color: $darkColor;
    display: flex;

    .header-download-center-side-bottom {
      position: relative;
      bottom: -120px;
      left: -60px;
    }
  }
  .pricing-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: min(1600px, 100%);
    margin: auto;
    direction: ltr;
    .pricing-card {
      flex: 1;
      max-width: 360px;
      background-color: #fff;
      margin: 20px 10px;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      transition: 0.3s linear;
      border-radius: 20px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

      &:hover .pricing-card-header {
        box-shadow: 0 0 0 26em $primarycolor;
      }
      li {
        font-size: 16px;
        padding: 10px 0;
      }
      .pricing-card-header {
        background-color: $secondcolor;
        display: inline-block;
        color: $whiteColor;
        padding: 12px 30px;
        border-radius: 0 0 20px 20px;
        font-size: 16px;
        font-weight: 500;
        transition: 0.4s linear;
      }
      .price {
        font-size: 70px;
        color: $primarycolor;
        margin: 40px 0;
        transition: 0.2s linear;

        sup,
        span {
          font-size: 22px;
          font-weight: 500;
        }
      }
      .order-btn {
        display: inline-block;
        margin-bottom: 40px;
        margin-top: 80px;
        border: 2px solid $primarycolor;
        color: $primarycolor;
        padding: 15px 50px;
        border-radius: 10px;
        font-weight: 500;
        transition: 0.3s linear;
        &:hover {
          background-color: $primarycolor;
          color: $whiteColor;
        }
      }
    }
  }
  .pricing-card:hover,
  .pricing-card:hover .price {
    color: $whiteColor;
  }
}

@media screen and (max-width: 1100px) {
  .pricing-card {
    flex: 50%;
  }
}
