@import '../../utils/constants.scss';

.download-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  @apply md:min-h-screen my-44 md:my-0;

  &:first-of-type {
    @apply mt-0;
  }

  width: 100%;
  direction: rtl;
  overflow: hidden;
  .title-download-page-container {
    display: flex;
    align-items: center;

    .title-dark-color {
      font-weight: bold;
      color: $darkColor;
      .dark-border-bottom {
        height: 2px;
        background-color: $darkColor;
        margin-top: 15px;
      }
    }
    .title-green-color {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      color: $primarycolor;
      margin-right: 10px;
      .green-border-bottom {
        height: 2px;
        background-color: $primarycolor;
        margin-top: 15px;
      }
    }
  }
  .show-image-and-description-about-program {
    @apply md:my-auto;
    width: 100%;
    .program-description-and-title-container {
      display: flex;
      flex-direction: column;
      .program-description-title {
        color: $primarycolor;
        font-weight: bold;
        word-spacing: 1px;
      }
      .program-description {
        font-weight: bold;
        margin-top: 15px;
      }
    }
    .program-page-container {
      display: flex;
      justify-content: center;
      .program-image {
        transition: 1s;
        &:hover {
          transform: rotate(15deg);
        }
      }
    }
  }
  .dowmload-page-header {
    height: 478px;
    width: 100%;
    background-color: $darkColor;
    display: flex;

    .header-download-center-side-bottom {
      position: relative;
      bottom: -120px;
      left: -60px;
    }
  }
  .pricing-table {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-evenly;
    width: min(1600px, 100%);
    margin: auto;
    direction: ltr;
  }
  .pricing-card {
    width: 95%; //TODO: Here 100vw in mobile
    // width: minmax(300px, 100%);
  }
  .mobile-app-links {
    display: flex;
    justify-content: center;
    width: 100%;
    .mobil-app-btn {
      &:first-child {
        margin-left: 30px;
      }
      width: 150px;
      transition: 0.8s;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
}
