@import '../../utils/constants.scss';

.btn {
  font-size: 18px;
  border-radius: 15px;
  margin: 10px;
  padding: 15px 35px;
  line-height: 20px;
  font-weight: 500;
  transition: all 0.5s;
}

.btn.greenBorder {
  border: 2px solid $primarycolor;
  color: $primarycolor;
  svg {
    fill: $primarycolor;
    transition: all 0.5s;
  }
  &:hover {
    background-color: $primarycolor;
    color: $whiteColor;
    svg {
      fill: $whiteColor;
    }
  }
}
.btn.solidGreen {
  background-color: $primarycolor;
  border: 2px solid $primarycolor;
  color: $whiteColor;
  transition: all 0.5s;
  svg {
    fill: $whiteColor;

    transition: all 0.5s;
  }
  &:hover {
    border: 2px solid $primarycolor;
    background-color: #f6f6f6;
    color: $primarycolor;
    svg {
      fill: $primarycolor;
    }
  }
}
