@import '../../utils/constants.scss';
.home-page {
  width: 100%;
  height: 100vh;

  .home-page-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .home-page-image {
      padding: 50px;
      width: 90%;
    }
  }

  .css-typing {
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .buttons-and-text-container {
      display: flex;
    }
  }
  .css-typing p {
    border-left: 0.1em solid $primarycolor;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    .special-text-color {
      color: $primarycolor;
    }
  }
  .css-typing p:nth-child(1) {
    width: 24ch;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(2) {
    width: 21ch;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(3) {
    width: 14.5ch;
    opacity: 0;
    -webkit-animation: type3 2s steps(22, end),
      blink 0.5s step-end infinite alternate;
    animation: type3 2s steps(22, end), blink 0.5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-left: 0.1em solid $primarycolor;
    }
    100% {
      border: none;
    }
  }

  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-left: 0.1em solid $primarycolor;
    }
    100% {
      border: none;
    }
  }

  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-left: 0.1em solid $primarycolor;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }

  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-left: 0.1em solid $primarycolor;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }

  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
}
