@import '../../utils/constants.scss';
.Not-found-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .container-error-404 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    .h1-error-404 {
      font-size: 260px;
      color: $primarycolor;
      position: relative;
    }
    .circle {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 10px solid $primarycolor;
      border-left-color: transparent;
      position: absolute;
      top: 130px;
      left: 156px;
      animation: 1s infinite cir;
    }
    @keyframes cir {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .cir2 {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 5px solid $primarycolor;

      border-right-color: transparent;
      position: absolute;
      top: 5px;
      left: 5px;
      animation: 2s infinite cir2;
    }
    @keyframes cir2 {
      0% {
        transform: rotate(0deg);
      }
      30% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  .h {
    left: 70px;
  }
  @media (min-width: 700px) {
    .container-error-404 {
      display: flex;
      width: 410px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    .container-error-404 > .h1-error-404:first-of-type {
      width: 250px;
    }
  }
  .not-found-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: $primarycolor;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    left: 20px;
    top: -30px;
    transition: all 0.5s;
    &:hover {
      color: $darkColor;
      .left-arrow {
        fill: $darkColor;
      }
    }
    .left-arrow {
      transition: all 0.5s;
      width: 30px;
      fill: $primarycolor;
      margin: 0px 15px 0 0px;
    }
  }
}
