@import '../../../utils/constants.scss';

.close-chat-button-icon {
  stroke: $darkColor;
  cursor: pointer;
  width: 16px;
  transition: 0.5s;
  &:hover {
    stroke: rgb(207, 52, 52);
  }
}

.call-icon-style {
  width: 24px;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    transform: scale(1.08, 1.08);
  }
}
