@import "./utils/constants.scss";

@font-face {
  font-family: Tajawal;
  src: url(./assets/Fonts/Tajawal-Regular.ttf);
}
@font-face {
  font-family: Tajawal;
  src: url(./assets/Fonts/Tajawal-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Tajawal;
  src: url(./assets/Fonts/Tajawal-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Tajawal;
  src: url(./assets/Fonts/Tajawal-Bold.ttf);
  font-weight: bold;
}

body {
  font-family: Tajawal, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $darkColor;
  height: 100vh;
  background-image: url("./assets/Img/background.webp");
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.app {
  .chat-button {
    background-color: $primarycolor;
    padding: 15px;
    margin: 15px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    border-radius: 50%;
    transition: 0.6s;
    &:hover {
      background-color: $secondcolor;
      .chat-button-icon {
        transform: scale(1.1, 1.1);
      }
    }
    .chat-button-icon {
      transition: 0.6s;
      width: 30px;
      height: 30px;
      fill: $whiteColor;
    }
  }
}
